<section id="not-found-page">
    <div class="not-found-page-container">
        <h2>Page Not Found</h2>
        <p>
            The Page you are looking for doesn't exist or another error has occurred.
        </p>

        <img src="img/404-nobg.png" alt="">

        <a href="/" class="btn">Home Page</a>
    </div>
</section>