<div class="container">
    <h1>About Me</h1>
    <p>
        Hi there! I'm <strong> Boyan </strong>, a recent graduate from SoftUni . With a passion for web development
        and a drive to create innovative and user-friendly websites, I'm excited to embark on my journey in the dev
        industry.
    </p>

    <h2>My Journey</h2>
    <p>
        Before diving into coding, I was working in the support industry, within an IBM/Cisco project. My transition to
        web development began 17 months ago when I was missing the problem-solving part of my job. After completing an
        intensive coding bootcamp, I've gained hands-on
        experience in a variety of web technologies.
    </p>

    <h2>Skills</h2>
    <ul>
        <li>HTML5, CSS3, and JavaScript</li>
        <li>Front-end frameworks: React, TailwindCSS</li>
        <li>Back-end development: Node.js, Express</li>
        <li>Database management: MongoDB, SQL</li>
        <li>Version control: Git, GitHub</li>
    </ul>

    <h2>Aspirations</h2>
    <p>
        I'm eager to continue learning and growing as a web developer. My goal is to grow within a dynamic team where I
        can
        contribute with my skills and collaborate on impactful projects.
    </p>


</div>