<h1>Let's Connect</h1>
<p>
    If you'd like to get in touch, feel free to reach out to me via:
<ul>
    <li>
        <p><a href="mailto:kachamachkovboyan@gmail.com">kachamachkovboyan@gmail.com</a></p>
    </li>
    <li>
        <p>Discord: @bkachama </p>
    </li>
</ul>

I'm always open to discuss new opportunities, collaborations, or just chatting about web development or programming as a
whole!
</p>