<div class="author">
    <h1 class="author_heading">Hi, I am Boyan</h1>
    <p class="author_body">Aspiring Web Developer</p>
</div>

<img src="/img/blogo_main_picture.jpg" alt="person on iceberg background in Iceland" class="hero-image">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>

    <ul class="articles_ul">

        <% data.forEach(post=> { %>
            <li>
                <a href="#">
                    <span>
                        <%= post.title %>
                    </span>
                    <span class="article_list_date">
                        <%= post.createdAt.toDateString() %>
                    </span>
                </a>
            </li>
            <% }) %>



    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>