<h1>
    <%= data.title %>
</h1>
<article class="article">

    <%= data.body %>

        <div>
            <span><i>Last edited:</i></span>
            <span>
                <i>
                    <%= data.updatedAt.toDateString() %>
                </i>
            </span>

        </div>

</article>