@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 'Poppins', sans-serif;
}

img {
  display: block;
  width: 8%;
  height: auto;
}

body{
  color: #1c1c1c;
  font-size: 1em;
  background-color: #faf5ee;
}

