@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 'Poppins', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body{
  color: #1c1c1c;
  font-size: 1em;
  background-color: #faf5ee;
}

.container{
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1em;
}

.main{
  padding: 1.5em 0;
}

.header{
  padding-top: 2em;
}

.header_nav{
  display: flex;
  justify-content: space-between;
}

.header ul {
  display: flex;
  gap: 1.5em;
}

.header li {
  list-style: none;
}

.header li a {
  text-decoration: none;
  font-weight: bold;
  color: #1c1c1c;
}

.header_logo{
  display: flex;
} 